<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="studio.rockpile.application.server.demo.dao.AccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="studio.rockpile.application.model.entity.Account">
        <id column="account_id" property="accountId" />
        <result column="fullname" property="fullname" />
        <result column="account_type" property="accountType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        account_id, fullname, account_type
    </sql>

</mapper>
