<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="studio.rockpile.application.server.demo.dao.DictMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="studio.rockpile.application.model.entity.Dict">
        <id column="id" property="id" />
        <result column="pid" property="pid" />
        <result column="category" property="category" />
        <result column="item_label" property="itemLabel" />
        <result column="item_code" property="itemCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pid, category, item_label, item_code
    </sql>

</mapper>
