<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="studio.rockpile.application.server.demo.dao.DictMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="studio.rockpile.application.model.entity.Dict">
        <id column="dict_id" property="dictId" />
        <result column="type" property="type" />
        <result column="code" property="code" />
        <result column="value" property="value" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        dict_id, type, code, value
    </sql>

</mapper>
